.fancy_table {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:8px;
    background: white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12);
    border-collapse: separate;
    border-spacing: 0;
}

.fancy_table tr, .fancy_table td, .fancy_table th,  .fancy_table thead {
    border: none;
}

.fancy_table tr.active {
    background-color: #b1c6ff;
}

.fancy_table thead {
    font-weight: bold;
}

.fancy_table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fancy_table tr:last-child {
    border-bottom: none;
}

.fancy_table td {
    padding: 12px;
    text-align: left;
}

.token_name {
    font-size: 1.5rem;
    color: white;
    font-family: "Poppins", sans-serif;
}

.address {
    border-radius: 4px;
    background: white;
    cursor: pointer;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    display: inline-block;
    transition: 0.3s;
    max-width: 100%;
}

a.address {
    color: #1b1e30 !important;
}

a.address:hover {
    background: rgb(238, 238, 238);
}

.address div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address img {
    margin-left: 12px;
    height: 14px;
    flex:1;
}

.address span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.exchanges {
    margin:0;
    margin-top:16px;
    text-align: center;
}

.exchanges li {
    display: inline-block;
    margin: 0 16px;
}

.exchanges li img {
    width: 120px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  