
  #timeline-content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  .timeline {
    border-left: 4px solid #ffe600;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 70%;
  }
  .timeline h1 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline h2,
  .timeline h3 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }
  .timeline .roadmap-item {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .roadmap-item p {
    color: white;
    font-weight: 300;
  }
  .timeline .roadmap-item:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .roadmap-item:before,
  .timeline .roadmap-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .roadmap-item:before {
    left: -400px;
    color: #ffe600;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 1.2em;
    min-width: 300px;
  }
  .timeline .roadmap-item:after {
    box-shadow: 0 0 0 4px #ffe600;
    left: -57.85px;
    background: #44547f;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  .timeline .roadmap-item strong {
    font-size: 1.3rem;   
    display: block;
    padding-bottom: 16px;   
}

  @media(max-width: 767px) {
    .timeline {
        padding: 50px;

        max-width: 90%;
      }

      
    .timeline .roadmap-item:before {
        left: 0px;
        top: -36px;
        font-size: 0.9em;
        min-width: 0;
        font-weight: 500;
      }
  }
  