input {
	box-sizing: border-box;
	border: 0 solid;
    color: white;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	opacity: 1;
	color: #9ca3af
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af
}

.inset-0 {
	right: 0;
	left: 0
}

.inset-0,
.inset-y-0 {
	top: 0;
	bottom: 0
}

.right-0 {
	right: 0
}

.bottom-12 {
	bottom: 3rem
}

.left-full {
	left: 100%
}

.right-4 {
	right: 1rem
}

.top-2 {
	top: .5rem
}

.right-2 {
	right: .5rem
}

.top-1\/4 {
	top: 25%
}

.-left-10 {
	left: -2.5rem
}

.bottom-4 {
	bottom: 1rem
}

.bottom-1\/4 {
	bottom: 25%
}

.-right-10 {
	right: -2.5rem
}

.top-4 {
	top: 1rem
}

.bottom-0 {
	bottom: 0
}

.left-0 {
	left: 0
}

.right-\[36px\] {
	right: 36px
}

.top-\[108px\] {
	top: 108px
}

.top-\[88px\] {
	top: 88px
}

.left-4 {
	left: 1rem
}

.top-0 {
	top: 0
}

.top-14 {
	top: 3.5rem
}

.bottom-14 {
	bottom: 3.5rem
}

.top-\[-16px\] {
	top: -16px
}

.left-\[calc\(50\%-1px\)\] {
	left: calc(50% - 1px)
}

.left-9 {
	left: 2.25rem
}

.z-10 {
	z-index: 10
}

.z-0 {
	z-index: 0
}

.z-50 {
	z-index: 50
}

.z-\[2\] {
	z-index: 2
}

.z-\[1\] {
	z-index: 1
}

.col-span-12 {
	grid-column: span 12/span 12
}

.col-span-2 {
	grid-column: span 2/span 2
}

.col-span-1 {
	grid-column: span 1/span 1
}

.col-span-4 {
	grid-column: span 4/span 4
}

.col-span-8 {
	grid-column: span 8/span 8
}

.col-span-5 {
	grid-column: span 5/span 5
}

.col-span-6 {
	grid-column: span 6/span 6
}

.col-start-2 {
	grid-column-start: 2
}

.-m-3 {
	margin: -.75rem
}

.-m-6 {
	margin: -1.5rem
}

.m-auto {
	margin: auto
}

.m-1 {
	margin: .25rem
}

.-m-5 {
	margin: -1.25rem
}

.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem
}

.mx-2 {
	margin-left: .5rem;
	margin-right: .5rem
}

.mx-auto {
	margin-left: auto;
	margin-right: auto
}

.mx-3\.5 {
	margin-left: .875rem;
	margin-right: .875rem
}

.mx-3 {
	margin-left: .75rem;
	margin-right: .75rem
}

.my-1\.5 {
	margin-top: .375rem;
	margin-bottom: .375rem
}

.my-1 {
	margin-top: .25rem;
	margin-bottom: .25rem
}

.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem
}

.mx-6 {
	margin-left: 1.5rem;
	margin-right: 1.5rem
}

.mx-8 {
	margin-left: 2rem;
	margin-right: 2rem
}

.my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.mx-1 {
	margin-left: .25rem;
	margin-right: .25rem
}

.mb-4 {
	margin-bottom: 1rem
}

.ml-2 {
	margin-left: .5rem
}

.mr-4 {
	margin-right: 1rem
}

.mt-3 {
	margin-top: .75rem
}

.mt-1 {
	margin-top: .25rem
}

.ml-1 {
	margin-left: .25rem
}

.ml-3 {
	margin-left: .75rem
}

.mt-5 {
	margin-top: 1.25rem
}

.mr-1 {
	margin-right: .25rem
}

.ml-4 {
	margin-left: 1rem
}

.mr-2 {
	margin-right: .5rem
}

.mb-1 {
	margin-bottom: .25rem
}

.ml-0 {
	margin-left: 0
}

.-mb-2 {
	margin-bottom: -.5rem
}

.ml-auto {
	margin-left: auto
}

.-mr-2 {
	margin-right: -.5rem
}

.-mr-1 {
	margin-right: -.25rem
}

.mt-2 {
	margin-top: .5rem
}

.mb-3 {
	margin-bottom: .75rem
}

.mb-2 {
	margin-bottom: .5rem
}

.mb-\[20vw\] {
	margin-bottom: 20vw
}

.mt-\[20vw\] {
	margin-top: 20vw
}

.mr-auto {
	margin-right: auto
}

.mb-\[20px\] {
	margin-bottom: 20px
}

.-mr-2\.5 {
	margin-right: -.625rem
}

.ml-5 {
	margin-left: 1.25rem
}

.-mb-px {
	margin-bottom: -1px
}

.mr-3 {
	margin-right: .75rem
}

.mt-6 {
	margin-top: 1.5rem
}

.mt-0 {
	margin-top: 0
}

.-mt-px {
	margin-top: -1px
}

.mb-6 {
	margin-bottom: 1.5rem
}

.mb-8 {
	margin-bottom: 2rem
}

.mr-1\.5 {
	margin-right: .375rem
}

.ml-1\.5 {
	margin-left: .375rem
}

.ml-2\.5 {
	margin-left: .625rem
}

.mt-4 {
	margin-top: 1rem
}

.mt-auto {
	margin-top: auto
}

.mr-14 {
	margin-right: 3.5rem
}

.ml-6 {
	margin-left: 1.5rem
}

.-ml-1 {
	margin-left: -.25rem
}

.-mb-1\.5 {
	margin-bottom: -.375rem
}

.-mb-1 {
	margin-bottom: -.25rem
}

.ml-8 {
	margin-left: 2rem
}

.mt-7 {
	margin-top: 1.75rem
}

.mb-\[-38px\] {
	margin-bottom: -38px
}

.mb-\[54px\] {
	margin-bottom: 54px
}

.mt-\[-24px\] {
	margin-top: -24px
}

.mb-\[-24px\] {
	margin-bottom: -24px
}

.ml-\[28px\] {
	margin-left: 28px
}

.ml-\[26px\] {
	margin-left: 26px
}

.mb-5 {
	margin-bottom: 1.25rem
}

.mt-8 {
	margin-top: 2rem
}

.-mt-6 {
	margin-top: -1.5rem
}

.-mb-6 {
	margin-bottom: -1.5rem
}

.-mt-2 {
	margin-top: -.5rem
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.flex {
	display: flex
}

.inline-flex {
	display: inline-flex
}

.table {
	display: table
}

.grid {
	display: grid
}

.contents {
	display: contents
}

.hidden {
	display: none
}

.h-4 {
	height: 1rem
}

.h-5 {
	height: 1.25rem
}

.h-\[46px\] {
	height: 46px
}

.h-full {
	height: 100%
}

.h-6 {
	height: 1.5rem
}

.h-16 {
	height: 4rem
}

.h-60 {
	height: 15rem
}

.h-12 {
	height: 3rem
}

.h-\[38px\] {
	height: 38px
}

.h-\[34px\] {
	height: 34px
}

.h-\[68px\] {
	height: 68px
}

.h-20 {
	height: 5rem
}

.h-3 {
	height: .75rem
}

.h-screen {
	height: 100vh
}

.h-\[3px\] {
	height: 3px
}

.h-\[99\%\] {
	height: 99%
}

.h-8 {
	height: 2rem
}

.h-\[26px\] {
	height: 26px
}

.h-0 {
	height: 0
}

.h-\[30px\] {
	height: 30px
}

.h-\[32px\] {
	height: 32px
}

.h-7 {
	height: 1.75rem
}

.h-\[48px\] {
	height: 48px
}

.h-\[110px\] {
	height: 110px
}

.h-px {
	height: 1px
}

.h-\[40px\] {
	height: 40px
}

.h-14 {
	height: 3.5rem
}

.h-24 {
	height: 6rem
}

.h-\[60px\] {
	height: 60px
}

.h-36 {
	height: 9rem
}

.h-10 {
	height: 2.5rem
}

.h-52 {
	height: 13rem
}

.h-\[calc\(100\%\+32px\)\] {
	height: calc(100% + 32px)
}

.min-h-empty {
	min-height: 128px
}

.min-h-screen {
	min-height: 100vh
}

.min-h-full {
	min-height: 100%
}

.min-h-\[105px\] {
	min-height: 105px
}

.w-4 {
	width: 1rem
}

.w-5 {
	width: 1.25rem
}

.w-full {
	width: 100%
}

.w-screen {
	width: 100vw
}

.w-6 {
	width: 1.5rem
}

.w-\[74px\] {
	width: 74px
}

.w-\[34px\] {
	width: 34px
}

.w-3\/5 {
	width: 60%
}

.w-auto {
	width: auto
}

.w-3 {
	width: .75rem
}

.w-\[max-content\] {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content
}

.w-\[60vw\] {
	width: 60vw
}

.w-0 {
	width: 0
}

.w-9 {
	width: 2.25rem
}

.w-8 {
	width: 2rem
}

.w-\[26px\] {
	width: 26px
}

.w-80 {
	width: 20rem
}

.w-11 {
	width: 2.75rem
}

.w-\[228px\] {
	width: 228px
}

.w-\[54px\] {
	width: 54px
}

.w-7 {
	width: 1.75rem
}

.w-\[220px\] {
	width: 220px
}

.w-\[40px\] {
	width: 40px
}

.w-24 {
	width: 6rem
}

.w-72 {
	width: 18rem
}

.w-32 {
	width: 8rem
}

.w-6\/12 {
	width: 50%
}

.w-\[60px\] {
	width: 60px
}

.w-2\/3 {
	width: 66.666667%
}

.w-10 {
	width: 2.5rem
}

.w-\[2px\] {
	width: 2px
}

.w-\[32px\] {
	width: 32px
}

.min-w-\[80px\] {
	min-width: 80px
}

.min-w-\[82px\] {
	min-width: 82px
}

.min-w-\[32px\] {
	min-width: 32px
}

.min-w-\[24px\] {
	min-width: 24px
}

.min-w-max {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content
}

.min-w-\[140px\] {
	min-width: 140px
}

.min-w-0 {
	min-width: 0
}

.min-w-\[168px\] {
	min-width: 168px
}

.max-w-full {
	max-width: 100%
}

.max-w-7xl {
	max-width: 80rem
}

.max-w-6xl {
	max-width: 72rem
}

.max-w-5xl {
	max-width: 64rem
}

.max-w-4xl {
	max-width: 56rem
}

.max-w-3xl {
	max-width: 48rem
}

.max-w-2xl {
	max-width: 42rem
}

.max-w-xl {
	max-width: 36rem
}

.max-w-lg {
	max-width: 32rem
}

.max-w-md {
	max-width: 28rem
}

.max-w-sm {
	max-width: 24rem
}

.max-w-xs {
	max-width: 20rem
}

.max-w-\[355px\] {
	max-width: 355px
}

.max-w-\[102px\] {
	max-width: 102px
}

.max-w-\[5rem\] {
	max-width: 5rem
}

.max-w-\[100\%\] {
	max-width: 100%
}

.flex-1 {
	flex: 1 1 0%
}

.flex-auto {
	flex: 1 1 auto
}

.flex-shrink-0 {
	flex-shrink: 0
}

.flex-grow {
	flex-grow: 1
}

.border-collapse {
	border-collapse: collapse
}

.origin-top-right {
	transform-origin: top right
}

.translate-y-1 {
	--tw-translate-y: 0.25rem;
	transform: var(--tw-transform)
}

.translate-y-0 {
	--tw-translate-y: 0px;
	transform: var(--tw-transform)
}

.-translate-x-full {
	--tw-translate-x: -100%;
	transform: var(--tw-transform)
}

.translate-x-9 {
	--tw-translate-x: 2.25rem;
	transform: var(--tw-transform)
}

.translate-x-0 {
	--tw-translate-x: 0px;
	transform: var(--tw-transform)
}

.translate-x-5 {
	--tw-translate-x: 1.25rem;
	transform: var(--tw-transform)
}

.translate-x-\[23px\] {
	--tw-translate-x: 23px;
	transform: var(--tw-transform)
}

.translate-x-\[1px\] {
	--tw-translate-x: 1px;
	transform: var(--tw-transform)
}

.rotate-180 {
	--tw-rotate: 180deg
}

.rotate-90,
.rotate-180 {
	transform: var(--tw-transform)
}

.rotate-90 {
	--tw-rotate: 90deg
}

.scale-95 {
	--tw-scale-x: .95;
	--tw-scale-y: .95
}

.scale-95,
.scale-100 {
	transform: var(--tw-transform)
}

.scale-100 {
	--tw-scale-x: 1;
	--tw-scale-y: 1
}

.transform {
	transform: var(--tw-transform)
}

@-webkit-keyframes spin {
	to {
		transform: rotate(1turn)
	}
}

@keyframes spin {
	to {
		transform: rotate(1turn)
	}
}

.animate-spin {
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite
}

.cursor-pointer {
	cursor: pointer
}

.cursor-not-allowed {
	cursor: not-allowed
}

.cursor-help {
	cursor: help
}

.cursor-default {
	cursor: default
}

.select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.resize {
	resize: both
}

.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.auto-cols-max {
	grid-auto-columns: -webkit-max-content;
	grid-auto-columns: max-content
}

.grid-flow-row {
	grid-auto-flow: row
}

.grid-flow-col {
	grid-auto-flow: column
}

.grid-flow-row-dense {
	grid-auto-flow: row dense
}

.auto-rows-max {
	grid-auto-rows: -webkit-max-content;
	grid-auto-rows: max-content
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr))
}

.grid-cols-12 {
	grid-template-columns: repeat(12, minmax(0, 1fr))
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-10 {
	grid-template-columns: repeat(10, minmax(0, 1fr))
}

.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr))
}

.grid-rows-2 {
	grid-template-rows: repeat(2, minmax(0, 1fr))
}

.flex-row {
	flex-direction: row
}

.flex-row-reverse {
	flex-direction: row-reverse
}

.flex-col {
	flex-direction: column
}

.flex-wrap {
	flex-wrap: wrap
}

.flex-nowrap {
	flex-wrap: nowrap
}

.items-start {
	align-items: flex-start
}

.items-end {
	align-items: flex-end
}

.items-center {
	align-items: center
}

.items-baseline {
	align-items: baseline
}

.justify-start {
	justify-content: flex-start
}

.\!justify-start {
	justify-content: flex-start!important
}

.justify-end {
	justify-content: flex-end
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.gap-1 {
	grid-gap: .25rem;
	gap: .25rem
}

.gap-6 {
	grid-gap: 1.5rem;
	gap: 1.5rem
}

.gap-2 {
	grid-gap: .5rem;
	gap: .5rem
}

.gap-4 {
	grid-gap: 1rem;
	gap: 1rem
}

.gap-3 {
	grid-gap: .75rem;
	gap: .75rem
}

.gap-7 {
	grid-gap: 1.75rem;
	gap: 1.75rem
}

.gap-5 {
	grid-gap: 1.25rem;
	gap: 1.25rem
}

.gap-9 {
	grid-gap: 2.25rem;
	gap: 2.25rem
}

.gap-8 {
	grid-gap: 2rem;
	gap: 2rem
}


.self-start {
	align-self: flex-start
}

.self-end {
	align-self: flex-end
}

.overflow-auto {
	overflow: auto
}

.overflow-hidden {
	overflow: hidden
}

.overflow-x-auto {
	overflow-x: auto
}

.overflow-y-auto {
	overflow-y: auto
}

.overflow-x-hidden {
	overflow-x: hidden
}

.overflow-y-hidden {
	overflow-y: hidden
}

.truncate {
	overflow: hidden;
	white-space: nowrap
}

.overflow-ellipsis,
.truncate {
	text-overflow: ellipsis
}

.whitespace-nowrap {
	white-space: nowrap
}

.rounded {
	border-radius: .625rem
}

.rounded-sm {
	border-radius: .125rem
}

.rounded-md {
	border-radius: .375rem
}

.rounded-lg {
	border-radius: .5rem
}

.rounded-full {
	border-radius: 9999px
}

.rounded-3xl {
	border-radius: 1.5rem
}

.rounded-2xl {
	border-radius: 1rem
}

.rounded-t {
	border-top-right-radius: .625rem
}

.rounded-l,
.rounded-t {
	border-top-left-radius: .625rem
}

.rounded-l {
	border-bottom-left-radius: .625rem
}

.rounded-r {
	border-top-right-radius: .625rem;
	border-bottom-right-radius: .625rem
}

.rounded-b-none {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.rounded-t-none {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.rounded-b {
	border-bottom-right-radius: .625rem;
	border-bottom-left-radius: .625rem
}

.rounded-b-md {
	border-bottom-right-radius: .375rem;
	border-bottom-left-radius: .375rem
}

.rounded-tr {
	border-top-right-radius: .625rem
}

.rounded-tl-full {
	border-top-left-radius: 9999px
}

.bg-dark-800 {
	--tw-bg-opacity: 1;
	background-color: #1b1e30;
}

.bg-dark-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(22, 21, 34, var(--tw-bg-opacity))
}

.bg-dark-900.disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(22, 21, 34, var(--tw-bg-opacity)),
    rgba(22, 21, 34, var(--tw-bg-opacity)) 10px,
        #2b2e41 10px,
        #2b2e41 20px
      );
}

.bg-opacity-20 {
	--tw-bg-opacity: 0.2
}

.bg-opacity-25 {
	--tw-bg-opacity: 0.25
}

.bg-opacity-80 {
	--tw-bg-opacity: 0.8
}

.bg-opacity-40 {
	--tw-bg-opacity: 0.4
}

.bg-opacity-30 {
	--tw-bg-opacity: 0.3
}

.bg-opacity-60 {
	--tw-bg-opacity: 0.6
}

.bg-gradient-to-r {
	background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.bg-none {
	background-image: none
}


.bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text
}

.fill-current {
	fill: currentColor
}

.stroke-current {
	stroke: currentColor
}


.uppercase {
	text-transform: uppercase
}

.capitalize {
	text-transform: capitalize
}

.italic {
	font-style: italic
}

.leading-5 {
	line-height: 1.25rem
}

.leading-6 {
	line-height: 1.5rem
}

.leading-4 {
	line-height: 1rem
}

.leading-48px {
	line-height: 48px
}

.tracking-widest {
	letter-spacing: .1em
}

.tracking-\[\.2rem\] {
	letter-spacing: .2rem
}

.tracking-normal {
	letter-spacing: 0
}


.underline {
	text-decoration: underline
}

.no-underline {
	text-decoration: none
}

.placeholder-low-emphesis::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(87, 87, 87, var(--tw-placeholder-opacity))
}

.placeholder-low-emphesis:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(87, 87, 87, var(--tw-placeholder-opacity))
}

.placeholder-low-emphesis::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(87, 87, 87, var(--tw-placeholder-opacity))
}

.placeholder-secondary::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(127, 127, 127, var(--tw-placeholder-opacity))
}

.placeholder-secondary:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(127, 127, 127, var(--tw-placeholder-opacity))
}

.placeholder-secondary::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(127, 127, 127, var(--tw-placeholder-opacity))
}

.opacity-80 {
	opacity: .8
}

.opacity-0 {
	opacity: 0
}

.opacity-100 {
	opacity: 1
}

.opacity-50 {
	opacity: .5
}

.opacity-40 {
	opacity: .4
}

.opacity-20 {
	opacity: .2
}

.opacity-60 {
	opacity: .6
}

.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.shadow-lg,
.shadow-sm {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
}

.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
}

.shadow-swap {
	--tw-shadow: 0px 50px 250px -47px rgba(39, 176, 230, 0.29)
}

.shadow,
.shadow-swap {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

.shadow-md,
.shadow-pink-glow {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
}

.shadow-pink-glow {
	--tw-shadow: 0px 57px 90px -47px rgba(250, 82, 160, 0.15)
}

.shadow-blue-glow {
	--tw-shadow: 0px 57px 90px -47px rgba(39, 176, 230, 0.17)
}

.shadow-blue-glow,
.shadow-liquidity {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
}

.shadow-liquidity {
	--tw-shadow: 0px 50px 250px -47px rgba(123, 97, 255, 0.23)
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.ring-1 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.ring-0,
.ring-1 {
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}

.ring-0 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.ring-black {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity))
}

.ring-opacity-5 {
	--tw-ring-opacity: 0.05
}

.blur-\[150px\] {
	--tw-blur: blur(150px)
}

.blur,
.blur-\[150px\] {
	filter: var(--tw-filter)
}

.blur {
	--tw-blur: blur(8px)
}

.blur-\[400px\] {
	--tw-blur: blur(400px);
	filter: var(--tw-filter)
}

.drop-shadow {
	--tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
	filter: var(--tw-filter)
}

.drop-shadow-currencyLogo {
	--tw-drop-shadow: drop-shadow(0px 3px 6px hsla(0, 0%, 6%, 0.25));
	filter: var(--tw-filter)
}

.invert {
	--tw-invert: invert(100%)
}

.filter,
.invert {
	filter: var(--tw-filter)
}

.backdrop-blur-\[3px\] {
	--tw-backdrop-blur: blur(3px)
}

.backdrop-blur-\[3px\],
.backdrop-opacity-100 {
	-webkit-backdrop-filter: var(--tw-backdrop-filter);
	backdrop-filter: var(--tw-backdrop-filter)
}

.backdrop-opacity-100 {
	--tw-backdrop-opacity: opacity(1)
}

.backdrop-filter {
	-webkit-backdrop-filter: var(--tw-backdrop-filter);
	backdrop-filter: var(--tw-backdrop-filter)
}

.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s
}

.transition-colors {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s
}

.transition-opacity {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s
}

.transition-transform {
	transition-property: transform;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .15s
}

.duration-200 {
	transition-duration: .2s
}

.duration-150 {
	transition-duration: .15s
}

.duration-100 {
	transition-duration: .1s
}

.duration-75 {
	transition-duration: 75ms
}

.ease-out {
	transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.ease-in {
	transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.ease-in-out {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}


*,
:after,
:before {
	box-sizing: inherit
}

html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
	font-feature-settings: "case" 1, "rlig" 1, "calt" 0
}

body,
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

button:focus,
input:focus {
	outline: none
}
input:focus {
	box-shadow: none
}
.striped-background {
	background: repeating-linear-gradient(45deg, #161522, #161522 10px, #0d0415 0, #0d0415 20px)
}
.checked\:border-transparent:checked {
	border-color: transparent
}
.checked\:bg-pink:checked {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 56, 195, var(--tw-bg-opacity))
}
.checked\:bg-blue:checked {
	--tw-bg-opacity: 1;
	background-color: rgba(9, 147, 236, var(--tw-bg-opacity))
}
.hover\:cursor-default:hover {
	cursor: default
}
.hover\:divide-dark-700:hover>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity: 1;
	border-color: rgba(46, 51, 72, var(--tw-divide-opacity))
}
.hover\:border-dark-700:hover {
	--tw-border-opacity: 1;
	border-color: rgba(46, 51, 72, var(--tw-border-opacity))
}
.hover\:border-opacity-100:hover {
	--tw-border-opacity: 1
}
.hover\:bg-dark-800:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(32, 34, 49, var(--tw-bg-opacity))
}
.hover\:bg-primary:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(191, 191, 191, var(--tw-bg-opacity))
}
.hover\:bg-dark-900:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(22, 21, 34, var(--tw-bg-opacity))
}
.hover\:bg-dark-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(46, 51, 72, var(--tw-bg-opacity))
}
.hover\:bg-dark-pink:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(34, 24, 37, var(--tw-bg-opacity))
}
.hover\:bg-dark-blue:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(15, 24, 42, var(--tw-bg-opacity))
}
.hover\:bg-opacity-90:hover {
	--tw-bg-opacity: 0.9
}
.hover\:bg-opacity-100:hover {
	--tw-bg-opacity: 1
}
.hover\:bg-opacity-40:hover {
	--tw-bg-opacity: 0.4
}
.hover\:bg-opacity-80:hover {
	--tw-bg-opacity: 0.8
}
.hover\:from-blue:hover {
	--tw-gradient-from: #0993ec;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(9, 147, 236, 0))
}
.hover\:to-pink:hover {
	--tw-gradient-to: #f338c3
}
.hover\:text-high-emphesis:hover {
	--tw-text-opacity: 1;
	color: rgba(227, 227, 227, var(--tw-text-opacity))
}
.hover\:text-primary:hover {
	--tw-text-opacity: 1;
	color: rgba(191, 191, 191, var(--tw-text-opacity))
}
.hover\:text-secondary:hover {
	--tw-text-opacity: 1;
	color: rgba(127, 127, 127, var(--tw-text-opacity))
}
.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity))
}
.hover\:text-gray-200:hover {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity))
}
.hover\:text-gray-700:hover {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity))
}
.hover\:text-opacity-100:hover {
	--tw-text-opacity: 1
}
.hover\:underline:hover {
	text-decoration: underline
}
.hover\:no-underline:hover {
	text-decoration: none
}
.hover\:opacity-100:hover {
	opacity: 1
}
.hover\:opacity-90:hover {
	opacity: .9
}
.hover\:shadow-pink-glow-hovered:hover {
	--tw-shadow: 0px 57px 90px -47px rgba(250, 82, 160, 0.3)
}
.hover\:shadow-blue-glow-hovered:hover,
.hover\:shadow-pink-glow-hovered:hover {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
}
.hover\:shadow-blue-glow-hovered:hover {
	--tw-shadow: 0px 57px 90px -47px rgba(39, 176, 230, 0.34)
}
.focus\:border-transparent:focus {
	border-color: transparent
}
.focus\:bg-dark-700:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(46, 51, 72, var(--tw-bg-opacity))
}
.focus\:text-high-emphesis:focus {
	--tw-text-opacity: 1;
	color: rgba(227, 227, 227, var(--tw-text-opacity))
}
.focus\:text-opacity-100:focus {
	--tw-text-opacity: 1
}
.focus\:no-underline:focus {
	text-decoration: none
}
.focus\:placeholder-primary:focus::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(191, 191, 191, var(--tw-placeholder-opacity))
}
.focus\:placeholder-primary:focus:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(191, 191, 191, var(--tw-placeholder-opacity))
}
.focus\:placeholder-primary:focus::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(191, 191, 191, var(--tw-placeholder-opacity))
}
.focus\:opacity-100:focus {
	opacity: 1
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px
}
.focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}
.focus\:ring-2:focus,
.focus\:ring:focus {
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}
.focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}
.focus\:ring-0:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}
.focus\:ring-pink:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(243, 56, 195, var(--tw-ring-opacity))
}
.focus\:ring-blue:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(9, 147, 236, var(--tw-ring-opacity))
}
.focus\:ring-purple:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(167, 85, 221, var(--tw-ring-opacity))
}
.focus\:ring-dark-800:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(32, 34, 49, var(--tw-ring-opacity))
}
.focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px
}
.focus\:ring-offset-purple:focus {
	--tw-ring-offset-color: #a755dd
}
.focus\:ring-offset-dark-700:focus {
	--tw-ring-offset-color: #2e3348
}
.focus\:border-gradient-r-blue-pink-dark-900:focus {
	background: linear-gradient(90deg, #161522, #161522), linear-gradient(90deg, #27b0e6, #fa52a0);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box
}
.focus-visible\:ring-2.focus-visible {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}
.focus-visible\:ring-2:focus-visible {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}
.focus-visible\:ring-white.focus-visible {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity))
}
.focus-visible\:ring-white:focus-visible {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity))
}
.focus-visible\:ring-opacity-75.focus-visible {
	--tw-ring-opacity: 0.75
}
.focus-visible\:ring-opacity-75:focus-visible {
	--tw-ring-opacity: 0.75
}
.active\:no-underline:active {
	text-decoration: none
}
.disabled\:cursor-not-allowed:disabled {
	cursor: not-allowed
}
.disabled\:cursor-auto:disabled {
	cursor: auto
}
.disabled\:border-dark-800:disabled {
	--tw-border-opacity: 1;
	border-color: rgba(32, 34, 49, var(--tw-border-opacity))
}
.disabled\:bg-dark-1000:disabled {
	--tw-bg-opacity: 1;
	background-color: rgba(13, 4, 21, var(--tw-bg-opacity))
}
.disabled\:bg-opacity-80:disabled {
	--tw-bg-opacity: 0.8
}
.disabled\:bg-opacity-20:disabled {
	--tw-bg-opacity: 0.2
}
.disabled\:opacity-50:disabled {
	opacity: .5
}
.disabled\:ring:disabled {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
}
.disabled\:ring-dark-800:disabled {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(32, 34, 49, var(--tw-ring-opacity))
}
.group:hover .group-hover\:text-secondary {
	--tw-text-opacity: 1;
	color: rgba(127, 127, 127, var(--tw-text-opacity))
}
@media (min-width:640px) {
	.sm\:my-8 {
		margin-top: 2rem;
		margin-bottom: 2rem
	}
	
	.sm\:ml-2 {
		margin-left: .5rem
	}
	
	.sm\:ml-4 {
		margin-left: 1rem
	}
	
	.sm\:mt-3 {
		margin-top: .75rem
	}
	
	.sm\:mb-8 {
		margin-bottom: 2rem
	}
	
	.sm\:block {
		display: block
	}
	
	.sm\:inline-block {
		display: inline-block
	}
	
	.sm\:inline {
		display: inline
	}
	
	.sm\:flex {
		display: flex
	}
	
	.sm\:inline-flex {
		display: inline-flex
	}
	
	.sm\:hidden {
		display: none
	}
	
	.sm\:h-12 {
		height: 3rem
	}
	
	.sm\:w-2\/5 {
		width: 40%
	}
	
	.sm\:w-3\/5 {
		width: 60%
	}
	
	.sm\:w-full {
		width: 100%
	}
	
	.sm\:w-14 {
		width: 3.5rem
	}
	
	.sm\:w-12 {
		width: 3rem
	}
	
	.sm\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr))
	}
	
	.sm\:flex-row {
		flex-direction: row
	}
	
	.sm\:items-start {
		align-items: flex-start
	}
	
	.sm\:items-end {
		align-items: flex-end
	}
	
	.sm\:items-center {
		align-items: center
	}
	
	.sm\:justify-end {
		justify-content: flex-end
	}
	
	.sm\:gap-8 {
		grid-gap: 2rem;
		gap: 2rem
	}
	
	.sm\:gap-12 {
		grid-gap: 3rem;
		gap: 3rem
	}
	
	.sm\:space-y-0>:not([hidden])~:not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse))
	}
	
	.sm\:rounded-md {
		border-radius: .375rem
	}
	
	.sm\:p-8 {
		padding: 2rem
	}
	
	.sm\:p-6 {
		padding: 1.5rem
	}
	
	.sm\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem
	}
	
	.sm\:py-6 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem
	}
	
	.sm\:px-0 {
		padding-left: 0;
		padding-right: 0
	}
	
	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}
	
	.sm\:px-16 {
		padding-left: 4rem;
		padding-right: 4rem
	}
	
	.sm\:px-4 {
		padding-left: 1rem;
		padding-right: 1rem
	}
	
	.sm\:pt-1 {
		padding-top: .25rem
	}
	
	.sm\:pr-2 {
		padding-right: .5rem
	}
	
	.sm\:pl-8 {
		padding-left: 2rem
	}
	
	.sm\:pr-4 {
		padding-right: 1rem
	}
	
	.sm\:text-center {
		text-align: center
	}
	
	.sm\:text-right {
		text-align: right
	}
	
	.sm\:align-middle {
		vertical-align: middle
	}
	
	.sm\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem
	}
	
	.sm\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem
	}
	
	.sm\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem
	}
	
	.sm\:text-base {
		font-size: 1rem;
		line-height: 1.5rem
	}
	
	.sm\:tracking-widest {
		letter-spacing: .1em
	}
}
@media (min-width:768px) {
	.md\:col-span-6 {
		grid-column: span 6/span 6
	}
	
	.md\:col-span-1 {
		grid-column: span 1/span 1
	}
	
	.md\:col-span-3 {
		grid-column: span 3/span 3
	}
	
	.md\:col-span-9 {
		grid-column: span 9/span 9
	}
	
	.md\:col-span-2 {
		grid-column: span 2/span 2
	}
	
	.md\:m-0 {
		margin: 0
	}
	
	.md\:mx-0 {
		margin-left: 0;
		margin-right: 0
	}
	
	.md\:mb-7 {
		margin-bottom: 1.75rem
	}
	
	.md\:mb-4 {
		margin-bottom: 1rem
	}
	
	.md\:mt-0 {
		margin-top: 0
	}
	
	.md\:-mr-5 {
		margin-right: -1.25rem
	}
	
	.md\:-mt-px {
		margin-top: -1px
	}
	
	.md\:mr-9 {
		margin-right: 2.25rem
	}
	
	.md\:mb-2 {
		margin-bottom: .5rem
	}
	
	.md\:ml-4 {
		margin-left: 1rem
	}
	
	.md\:ml-6 {
		margin-left: 1.5rem
	}
	
	.md\:mb-14 {
		margin-bottom: 3.5rem
	}
	
	.md\:mr-2 {
		margin-right: .5rem
	}
	
	.md\:ml-0 {
		margin-left: 0
	}
	
	.md\:mb-0 {
		margin-bottom: 0
	}
	
	.md\:mt-4 {
		margin-top: 1rem
	}
	
	.md\:ml-\[-16px\] {
		margin-left: -16px
	}
	
	.md\:mr-\[-16px\] {
		margin-right: -16px
	}
	
	.md\:mt-\[34px\] {
		margin-top: 34px
	}
	
	.md\:ml-2 {
		margin-left: .5rem
	}
	
	.md\:ml-8 {
		margin-left: 2rem
	}
	
	.md\:mb-\[-54px\] {
		margin-bottom: -54px
	}
	
	.md\:block {
		display: block
	}
	
	.md\:inline-block {
		display: inline-block
	}
	
	.md\:inline {
		display: inline
	}
	
	.md\:flex {
		display: flex
	}
	
	.md\:hidden {
		display: none
	}
	
	.md\:h-\[68px\] {
		height: 68px
	}
	
	.md\:h-10 {
		height: 2.5rem
	}
	
	.md\:w-1\/2 {
		width: 50%
	}
	
	.md\:w-\[220px\] {
		width: 220px
	}
	
	.md\:w-64 {
		width: 16rem
	}
	
	.md\:w-72 {
		width: 18rem
	}
	
	.md\:w-3\/5 {
		width: 60%
	}
	
	.md\:w-\[60px\] {
		width: 60px
	}
	
	.md\:w-2\/5 {
		width: 40%
	}
	
	.md\:w-10 {
		width: 2.5rem
	}
	
	.md\:min-w-\[672px\] {
		min-width: 672px
	}
	
	.md\:max-w-3xl {
		max-width: 48rem
	}
	
	.md\:max-w-\[400px\] {
		max-width: 400px
	}
	
	.md\:flex-initial {
		flex: 0 1 auto
	}
	
	.md\:rotate-0 {
		--tw-rotate: 0deg;
		transform: var(--tw-transform)
	}
	
	.md\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr))
	}
	
	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}
	
	.md\:grid-cols-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr))
	}
	
	.md\:grid-rows-1 {
		grid-template-rows: repeat(1, minmax(0, 1fr))
	}
	
	.md\:flex-row {
		flex-direction: row
	}
	
	.md\:items-center {
		align-items: center
	}
	
	.md\:justify-between {
		justify-content: space-between
	}
	
	.md\:gap-5 {
		grid-gap: 1.25rem;
		gap: 1.25rem
	}
	
	.md\:gap-10 {
		grid-gap: 2.5rem;
		gap: 2.5rem
	}
	
	.md\:space-x-6>:not([hidden])~:not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(1.5rem * var(--tw-space-x-reverse));
		margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
	}
	
	.md\:space-y-0>:not([hidden])~:not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse))
	}
	
	.md\:space-x-8>:not([hidden])~:not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(2rem * var(--tw-space-x-reverse));
		margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
	}
	
	.md\:rounded-r {
		border-top-right-radius: .625rem;
		border-bottom-right-radius: .625rem
	}
	
	.md\:border-cyan-blue {
		--tw-border-opacity: 1;
		border-color: rgba(9, 147, 236, var(--tw-border-opacity))
	}
	
	.md\:bg-cyan-blue {
		--tw-bg-opacity: 1;
		background-color: rgba(9, 147, 236, var(--tw-bg-opacity))
	}
	
	.md\:bg-dark-800 {
		--tw-bg-opacity: 1;
		background-color: rgba(32, 34, 49, var(--tw-bg-opacity))
	}
	
	.md\:bg-opacity-30 {
		--tw-bg-opacity: 0.3
	}
	
	.md\:p-3 {
		padding: .75rem
	}
	
	.md\:p-0 {
		padding: 0
	}
	
	.md\:p-5 {
		padding: 1.25rem
	}
	
	.md\:py-0 {
		padding-top: 0;
		padding-bottom: 0
	}
	
	.md\:py-8 {
		padding-top: 2rem;
		padding-bottom: 2rem
	}
	
	.md\:px-7 {
		padding-left: 1.75rem;
		padding-right: 1.75rem
	}
	
	.md\:px-10 {
		padding-left: 2.5rem;
		padding-right: 2.5rem
	}
	
	.md\:px-3\.5 {
		padding-left: .875rem;
		padding-right: .875rem
	}
	
	.md\:py-0\.5 {
		padding-top: .125rem;
		padding-bottom: .125rem
	}
	
	.md\:px-3 {
		padding-left: .75rem;
		padding-right: .75rem
	}
	
	.md\:py-1\.5 {
		padding-top: .375rem;
		padding-bottom: .375rem
	}
	
	.md\:py-1 {
		padding-top: .25rem;
		padding-bottom: .25rem
	}
	
	.md\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem
	}
	
	.md\:px-5 {
		padding-left: 1.25rem;
		padding-right: 1.25rem
	}
	
	.md\:pr-0 {
		padding-right: 0
	}
	
	.md\:pl-5 {
		padding-left: 1.25rem
	}
	
	.md\:pr-7 {
		padding-right: 1.75rem
	}
	
	.md\:pb-9 {
		padding-bottom: 2.25rem
	}
	
	.md\:pt-4 {
		padding-top: 1rem
	}
	
	.md\:pl-12 {
		padding-left: 3rem
	}
	
	.md\:pt-7 {
		padding-top: 1.75rem
	}
	
	.md\:text-right {
		text-align: right
	}
	
	.md\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem
	}
	
	.md\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem
	}
	
	.md\:text-base {
		font-size: 1rem;
		line-height: 1.5rem
	}
	
	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem
	}
	
	.md\:text-sm {
		font-size: .875rem;
		line-height: 1.25rem
	}
	
	.md\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem
	}
	
	.md\:text-5xl {
		font-size: 3rem;
		line-height: 1
	}
	
	.md\:font-normal {
		font-weight: 400
	}
	
	.md\:font-medium {
		font-weight: 500
	}
	
	.md\:font-bold {
		font-weight: 700
	}
	
	.md\:leading-5 {
		line-height: 1.25rem
	}
	
	.md\:text-cyan-blue {
		--tw-text-opacity: 1;
		color: rgba(9, 147, 236, var(--tw-text-opacity))
	}
	
	.md\:border-gradient-r-blue-pink-dark-800 {
		background: linear-gradient(90deg, #202231, #202231), linear-gradient(90deg, #27b0e6, #fa52a0);
		background-clip: padding-box, border-box;
		background-origin: padding-box, border-box
	}
}
@media (min-width:1024px) {
	.lg\:relative {
		position: relative
	}
	
	.lg\:top-12 {
		top: 3rem
	}
	
	.lg\:col-span-8 {
		grid-column: span 8/span 8
	}
	
	.lg\:col-span-4 {
		grid-column: span 4/span 4
	}
	
	.lg\:col-span-3 {
		grid-column: span 3/span 3
	}
	
	.lg\:col-span-6 {
		grid-column: span 6/span 6
	}
	
	.lg\:col-span-2 {
		grid-column: span 2/span 2
	}
	
	.lg\:block {
		display: block
	}
	
	.lg\:flex {
		display: flex
	}
	
	.lg\:hidden {
		display: none
	}
	
	.lg\:h-12 {
		height: 3rem
	}
	
	.lg\:w-auto {
		width: auto
	}
	
	.lg\:w-12 {
		width: 3rem
	}
	
	.lg\:grid-cols-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr))
	}
	
	.lg\:justify-start {
		justify-content: flex-start
	}
	
	.lg\:bg-transparent {
		background-color: transparent
	}
	
	.lg\:p-0 {
		padding: 0
	}
	
	.lg\:py-12 {
		padding-top: 3rem;
		padding-bottom: 3rem
	}
	
	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem
	}
	
	.lg\:pb-0 {
		padding-bottom: 0
	}
}
@media (min-width:1280px) {
	.xl\:col-span-4 {
		grid-column: span 4/span 4
	}
	
	.xl\:col-span-3 {
		grid-column: span 3/span 3
	}
	
	.xl\:col-span-9 {
		grid-column: span 9/span 9
	}
	
	.xl\:col-span-6 {
		grid-column: span 6/span 6
	}
	
	.xl\:mx-8 {
		margin-left: 2rem;
		margin-right: 2rem
	}
	
	.xl\:block {
		display: block
	}
	
	.xl\:justify-start {
		justify-content: flex-start
	}
}
